drive-download-20230526T145849Z-001/WCF_Client_0920/WCF_Client/WCF_Client/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Galamb">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Eletkor" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Fajta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gazda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabakSzama" type="xs:unsignedByte" />
          <xs:element name="Nem" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Galamb" nillable="true" type="tns:Galamb" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="ArrayOfGalamb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Galamb" nillable="true" type="tns:Galamb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGalamb" nillable="true" type="tns:ArrayOfGalamb" />
</xs:schema>