drive-download-20230526T145849Z-001/WCF_Client_0920/WCF_Client/WCF_Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="EgyGalambGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambGetResult" nillable="true" type="q1:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambGetCSResult" nillable="true" type="q2:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambPostCSResult" nillable="true" type="q3:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambPostResult" nillable="true" type="q4:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GalambListaResult" nillable="true" type="q5:ArrayOfGalamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>