drive-download-20230526T145849Z-001/drive/WCF_Client_0920/WCF_Client/WCF_Client/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_EgyGalambGet_InputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambGet" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambGetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambGetCS_InputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambGetCS" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambGetCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambGetCSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambPostCS_InputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambPostCS" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambPostCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambPostCSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambPost_InputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambPost" />
  </wsdl:message>
  <wsdl:message name="IService1_EgyGalambPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgyGalambPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GalambLista_InputMessage">
    <wsdl:part name="parameters" element="tns:GalambLista" />
  </wsdl:message>
  <wsdl:message name="IService1_GalambLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GalambListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="EgyGalambGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EgyGalambGet" message="tns:IService1_EgyGalambGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EgyGalambGetResponse" message="tns:IService1_EgyGalambGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgyGalambGetCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EgyGalambGetCS" message="tns:IService1_EgyGalambGetCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EgyGalambGetCSResponse" message="tns:IService1_EgyGalambGetCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgyGalambPostCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EgyGalambPostCS" message="tns:IService1_EgyGalambPostCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EgyGalambPostCSResponse" message="tns:IService1_EgyGalambPostCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgyGalambPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EgyGalambPost" message="tns:IService1_EgyGalambPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EgyGalambPostResponse" message="tns:IService1_EgyGalambPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GalambLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GalambLista" message="tns:IService1_GalambLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GalambListaResponse" message="tns:IService1_GalambLista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>