drive-download-20230526T145849Z-001/drive/Client_ServerAndHost/Client/Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="EgyGalambGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambGetResult" nillable="true" type="q1:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambGetCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambGetCSResult" nillable="true" type="q2:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambPostCSResult" nillable="true" type="q3:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyGalambPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyGalambPostResult" nillable="true" type="q4:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GalambListaResult" nillable="true" type="q5:ArrayOfGalamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambListaCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambListaCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GalambListaCSResult" nillable="true" type="q6:ArrayOfGalamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="galamb" nillable="true" type="q7:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPostCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="galamb" nillable="true" type="q8:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPostCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambPostCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="galamb" nillable="true" type="q9:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambPutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPutCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="galamb" nillable="true" type="q10:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambPutCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambPutCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambDeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDeleteCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDeleteCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambDeleteCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDeleteParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambDeleteParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GalambDeleteParameterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambGetID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambGetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GalambGetIDResult" nillable="true" type="q11:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambGetIDCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GalambGetIDCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GalambGetIDCSResult" nillable="true" type="q12:Galamb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>